# Hello Welcome to programming
### First line of code

In [2]:
#print a hello world statement
print("hello world")

hello world

## Data types
- int (integer, whole, i.e. 10,-1,0)
- float (decimal i.e. 1.28, or 1.6666(repeating non terminating))
- str (string text, i.e "hello world", "9")
- bool (boolean true/false)

In [4]:
# arethmetic operation
# 2 + - / * 2 % =
2+3

5

In [5]:
# multiply
3 * 4

12

In [6]:
# subtraction
6 - 8

-2

In [7]:
# division results in a float
8/4

2.0

In [8]:
7/3

2.3333333333333335

# Check value types

In [10]:
type (4)

int

In [11]:
type (1.0)

float

In [12]:
type ("hello world")

str

In [13]:
type (True)

bool

In [16]:
#type (true) will get name error ar 'true' is not defined

In [18]:
# insantatiation - create a reference for something
# initialise -we give a value
name = "Tom"

In [20]:
type (name)

str

In [26]:
# "" make a string
# "" use on outer quotes, '' use on inner quotes

In [30]:
name = "Emma"
#pass down a referece for Emma which is 'name'
f"my name is {name} 's"

"my name is Emma 's"

In [36]:
"Balance : $ %.2f" %77.8945
# must use % to indicate number with 2 decimal place
# f is the functionality

'Balance : $ 77.89'

In [38]:
m = 1
b = .5
x = 7
y = m*x + b  #linear regression

In [40]:
type (3+5j)

complex

# shortcuts
    shift + enter - run cell and move to next
    x cuts current cell
    z undo cell deletion
    dd delete
    y change to code
    m to markdown
        (outside of cell)
    b add cells below



## Maths operations

Check the power and square root
$10^2$ $10\times10$

In [46]:
# power exponent
10**2

100

$\sqrt10$

In [51]:
# sqare root
100**0.5

10.0

# Converting data types

In [55]:
float(10)

10.0

In [57]:
int (10.0)

10

In [59]:
type (int(10.5))

int

In [63]:
# Strings can have numbers too
# "10" ==10 can turn string into number

type(int("10"))

int

In [67]:
# use a function to dynamically pass vales to string
name = "declan"
age ="24"
print ("hello your name you are age old today")
print ("hello {} you are {} years old today".format (name, age))

hello your name you are age old today
hello declan you are 24 years old today